@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    .dark input[type="date"],
    .dark input[type="datetime-local"],
    .dark input[type="time"] {
        color-scheme: dark;
    }
}
